<template>
  <div class="notification">
    <p class="title is-2">
      The Undermountain
    </p>
    <FloorPlan
      v-for="(floor, index) in floors"
      :key="floor.title"
      :floor="index + 1"
      :info="floor"
      :sections="colors"
      class="spaced"
    />
  </div>
</template>

<script>
import FloorPlan from '../../components/undermountain/floor_plan';

export default {
  components: { FloorPlan, },
  head () {
    return {
      title: 'The Undermountain',
    };
  },
  async asyncData (context) {
    const floors = await context.app.$get('/undermountain');
    const colors = await context.app.$get('/undermountain/colors');
    return {
      floors: floors.data,
      colors: colors.data,
    };
  },
};
</script>

<style scoped>
  .spaced {
    margin-bottom: 10px;
  }
</style>
