<template>
  <Headshot :src="`https://5etools.iridium-server.com/img/${book}/${beast}.png`" :alt="beast" :monster="true" :frame="frame" :fire="fire" />
</template>

<script>
import Headshot from './headshot';

export default {
  name: 'BeastHeadshot',
  components: { Headshot },
  props: {
    beast: {
      required: true,
      type: String,
    },
    book: {
      default: 'MM',
      type: String,
    },
    frame: {
      required: true,
      type: String,
    },
    fire: {
      default: false,
      type: Boolean,
    },
  },
};
</script>

<style scoped>

</style>
