<template>
  <div>
    <figure
      v-if="!swap"
      class="image is-square"
    >
      <img :src="src" :alt="alt" :style="!monster ? 'transform: scale(0.9, 0.9);' : ''" class="is-rounded">
      <img :src="`/img/frame-${frame}.gif`" alt="" class="is-rounded frame">
      <img v-if="fire" :src="`/img/fire-${frame}.gif`" :style="`z-index: 15; transform: rotate(${Math.random()}turn) scale(1.51, 1.47) translate(16.5%, -0.3%);`" alt="" class="is-rounded">
    </figure>
    <figure
      v-else
      class="image is-square"
    >
      <img :src="src" :alt="alt" :class="!monster ? 'shrink' : ''" class="is-rounded glitch-css glitch-second">
      <img :src="swap" :alt="alt" :class="!monster ? 'shrink' : ''" class="is-rounded glitch-css glitch-first">
      <img :src="`/img/frame-${frame}.gif`" alt="" class="is-rounded frame">
    </figure>
  </div>
</template>

<script>
export default {
  name: 'Headshot',
  props: {
    src: {
      required: true,
      type: String,
    },
    alt: {
      type: String,
      default: 'an image',
    },
    swap: {
      type: String,
      default: '',
    },
    monster: {
      type: Boolean,
      default: false,
    },
    frame: {
      required: true,
      type: String,
    },
    fire: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
  img {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 100%;
  }

  .frame {
    z-index: 10;
    transform: scale(1.32, 1.32) translate(-0.5%, -0.5%);
  }

  .glitch-css {
    position: absolute;
    top: 0;
    left: 0;
  }

  .glitch-first {
    z-index: 1;
    opacity: 0;
    animation: glitch1 4s 6s 1 forwards;
  }

  .glitch-second {
    z-index: 2;
    animation: glitch2 4s 6s 1 forwards;
  }

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 0;
    }
    7% {
      transform: translate(-1px, -1.5px);
      opacity: 1;
    }
    10% {
      transform: none;
      opacity: 0;
    }
    27% {
      transform: none;
      opacity: 0;
    }
    30% {
      transform: translate(-2.5px, -1px);
      opacity: 1;
    }
    35% {
      transform: none;
      opacity: 0;
    }
    52% {
      transform: none;
      opacity: 0;
    }
    55% {
      transform: translate(-2.5px, -0.5px);
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 0;
    }
    72% {
      transform: none;
      opacity: 0;
    }
    75% {
      transform: translate(-1px, -3px);
      opacity: 1;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: translate(-1px, -1.5px);
      opacity: 0;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: translate(-2.5px, -1px);
      opacity: 0;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: translate(-2.5px, -0.5px);
      opacity: 0;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: translate(-1px, -3px);
      opacity: 0;
    }
    80% {
      transform: none;
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 0;
    }
  }
</style>
