<template>
  <div v-if="toc && active" class="notification has-background-grey-lighter">
    <toc-entry
      v-for="item in toc"
      :key="item.title"
      :entry="item"
      :active="active"
      :breadcrumbs="breadcrumb"
      :depth="0"
    />
  </div>
</template>

<script>
import TocEntry from './toc_entry';

export default {
  name: 'Toc',
  components: { TocEntry },
  props: {
    toc: {
      required: true,
      type: Array,
    },
    active: {
      type: String,
      default: '',
    }
  },
  data () {
    return {
      breadcrumb: [],
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    '$route.params.entry': function (val) {
      this.$get('/wiki/breadcrumb', { breadcrumb: val || '' }).then((b) => { this.breadcrumb = b.data !== '' ? b.data : []; });
    },
  },
  beforeMount () {
    this.$get('/wiki/breadcrumb', { breadcrumb: this.$route.params.entry || '' }).then((b) => { this.breadcrumb = b.data !== '' ? b.data : []; });
  }
};
</script>

<style scoped>

</style>
