<template>
  <div v-if="entry && active && breadcrumbs && depth !== null && depth !== undefined">
    <div :class="isActive ? 'has-background-dark has-text-light' : ''" @click="$router.push(`/wiki/${linkifiedTitle}`)" style="cursor: pointer">
      <div><span>{{ '&nbsp;'.repeat(4).repeat(depth) }}</span><span @click.stop="clicked = !clicked" class="icon">
        <i :class="icon" />
      </span><span>{{ entry.title || '' }}</span></div>
    </div>

    <toc-entry
      v-for="item in entry.children"
      v-show="unfolded"
      :key="item.title"
      :entry="item"
      :active="active"
      :breadcrumbs="breadcrumbs"
      :depth="depth + 1"
    />
  </div>
</template>

<script>
export default {
  name: 'TocEntry',
  props: {
    entry: {
      required: true,
      type: Object,
    },
    active: {
      required: true,
      type: String,
    },
    breadcrumbs: {
      required: true,
      type: Array,
    },
    depth: {
      required: true,
      type: Number,
    }
  },
  data () {
    return {
      clicked: false,
    };
  },
  computed: {
    unfolded () {
      return this.clicked;
    },
    hasChildren () {
      return this.entry.children.length > 0;
    },
    isActive () {
      return this.linkifiedTitle === this.active;
    },
    linkifiedTitle () {
      return this.entry.title.replace(/\s+/g, '_');
    },
    icon () {
      switch (true) {
        case (!this.hasChildren && this.isActive):
          return 'far fa-circle';
        case (!this.hasChildren):
          return 'far fa-circle';
        case (this.unfolded):
          return 'fas fa-caret-square-down';
        default:
          return 'fas fa-caret-square-right';
      }
    }
  },
  watch: {
    breadcrumbs () {
      if (this.breadcrumbs.includes(this.entry.title)) { this.clicked = true; }
    }
  },
};
</script>

<style scoped>

</style>
