<template>
  <div class="notification">
    <p class="title is-2">
      Who's Who
    </p>
    <p>
      Hello! My name's Puck Goodfellow, and I've been travelling with you for the past month! Don't worry if you don't remember me, I don't think we've had a chat while you were awake. I've been happy to tag along, but I realized I never properly thanked you for saving me from that pit. Since you all meet a ton of new people every day, and I'm really good at remembering (and I have nothing better to do--it's cramped in here), I figured I could make a little book, give you refreshers on everyone. No need to thank me!
    </p>
    <br>
    <SortBox
      @update="update"
      @input="search => searchTerm = search"
    />
    <div class="columns is-multiline">
      <div v-for="face in orderedFaces" :key="face.name" class="column is-3 is-flex">
        <Faces :face="face" />
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import Faces from '../../components/faces/faces';
import SortBox from '../../components/faces/sort_box';

const r = require('ramda');

export default {
  components: { SortBox, Faces },
  head () {
    return {
      title: 'Tabula Inscripta',
    };
  },
  data () {
    return {
      active: 'name',
      dirUp: false,
      searchTerm: '',
      colormap: null,
    };
  },
  apollo: {
    faces: {
      prefetch: true,
      query: gql`query getFaces {
        faces {
          age
          bio
          desc
          faction
          gender
          height
          id
          job
          name
          race
        }
      }`,
    },
    search_faces: {
      query: gql`query searchFaces($search: String!) {
        search_faces(args: {search: $search}) {
          age
          bio
          desc
          faction
          gender
          height
          id
          job
          name
          race
        }
      }`,
      variables () {
        return {
          search: this.searchTerm,
        };
      },
    },
  },
  async asyncData (context) {
    const faces = await context.app.$get('/faces');
    return {
      importFaces: faces.data,
    };
  },
  computed: {
    preppedFaces () {
      if (this.$apollo.loading) { return []; }
      const switched = r.length(this.search_faces) > 0 ? this.search_faces : this.faces;
      const colormap = this.getColormap(r.uniq(r.map(r.prop('faction'), this.faces)));
      return r.map(i => ({ ...i, color: colormap[i.faction] }), switched);
    },
    sortedFaces () {
      const retVal = this.preppedFaces;
      switch (this.active) {
        case 'name': return r.sort(
          (a, b) => a.name.localeCompare(b.name),
          retVal,
        );
        case 'job': return r.sort(
          (a, b) => a.job.localeCompare(b.job),
          retVal,
        );
        case 'faction': return r.sort(
          (a, b) => a.faction.localeCompare(b.faction),
          retVal,
        );
        case 'age': return r.sort(
          ({ age: ageA }, { age: ageB }) => parseFloat(ageA || 'inf') - parseFloat(ageB || 'inf'),
          retVal,
        );
        case 'race': return r.sort(
          ({ race: raceA }, { race: raceB }) => (raceA || '').localeCompare(raceB || ''),
          retVal,
        );
        case 'height': return r.sort(({ height: heightA }, { height: heightB }) => {
          const a = heightA || 'inf\'inf"';
          const b = heightB || 'inf\'inf"';
          if (a === b) { return 0; }

          const getHeight = (str) => {
            const splitStr = r.split(/'/g, str);
            return parseFloat(splitStr[0]) * 12 + parseFloat(splitStr[1]);
          };
          return getHeight(a) - getHeight(b);
        }, retVal);
        default: return retVal;
      }
    },
    orderedFaces () {
      return this.dirUp ? r.reverse(this.sortedFaces) : this.sortedFaces;
    },
  },
  methods: {
    update ({ active, dirUp }) {
      this.active = active;
      this.dirUp = dirUp;
    },
    getColormap (factions) {
      if (this.colormap) { return this.colormap; }
      const generatePastel = () => `hsl(${360 * Math.random()}, ${25 + 70 * Math.random()}%, ${85 + 10 * Math.random()}%)`;
      this.colormap = r.reduce((a, c) => ({ ...a, [c]: generatePastel() }), {}, factions);
      return this.colormap;
    },
    addEveryone () {
      r.forEach((face) => {
        this.$apollo.mutate({
          mutation: gql`mutation insertFaces($bio: String!, $age: Int, $desc: String!, $faction: String!, $gender: String, $height: String, $job: String!, $name: String!, $race: String) {
            insert_faces(objects: {bio: $bio, age: $age, desc: $desc, faction: $faction, gender: $gender, height: $height, job: $job, name: $name, race: $race}) {
              affected_rows
            }
          }`,
          variables: {
            bio: face.bio,
            age: face.dim.age === '???' || face.dim.age === 'x' ? null : parseInt(face.dim.age, 10),
            desc: face.dim.desc,
            faction: face.faction,
            gender: face.dim.gender === '???' ? null : face.dim.gender,
            height: face.dim.height === '???' ? null : face.dim.height,
            job: face.job,
            name: face.name,
            race: face.dim.race === '???' ? null : face.dim.race,
          }
        });
      }, this.importFaces);
    },
  }
};
</script>

<style scoped>
</style>
