<template>
  <nav class="breadcrumb is-small level-item is-hidden-mobile">
    <ul>
      <li
        v-for="b in breadcrumb"
        :key="b"
      >
        <nuxt-link
          :to="`/wiki/${b.replace(/\s/g, '_')}`"
        >
          {{ b }}
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Breadcrumb',
  props: {
    breadcrumb: {
      type: Array,
      default: () => [],
    }
  }
};
</script>

<style scoped>

</style>
