<template>
  <nav v-if="pagination" class="pagination is-small is-right">
    <nuxt-link v-if="pagination.prev" :to="pagination.prev.link" class="pagination-previous">
      <span class="icon"><i class="fas fa-arrow-left" /></span> {{ pagination.prev.value }}
    </nuxt-link>
    <a v-else class="pagination-previous" style="border: #FFF; cursor: default; pointer-events: none" />
    <nuxt-link v-if="pagination.next" :to="pagination.next.link" class="pagination-next">
      {{ pagination.next.value }} <span class="icon"><i class="fas fa-arrow-right" /></span>
    </nuxt-link>
  </nav>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    pagination: {
      type: Object,
      default: () => null,
    }
  }
};
</script>

<style scoped>

</style>
