<template>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="search" placeholder="">
      <span class="icon is-small is-left">
        <i class="fas fa-search" />
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Search'
};
</script>

<style scoped>

</style>
