<template>
  <div v-if="entries && Array.isArray(entries)">
    <div
      v-for="(entry, index) in entries"
      :key="index"
    >
      <wiki-array v-if="Array.isArray(entry)" :entries="entry" />
      <wiki-array v-else-if="entry.type === 'entries'" :entries="entry.value" />
      <wiki-object v-else :entry="entry" />
    </div>
  </div>
</template>

<script>
import WikiObject from './wiki_object';

export default {
  name: 'WikiArray',
  components: { WikiObject },
  props: {
    entries: {
      type: Array,
      default: () => null,
    },
  },
};
</script>

<style scoped>
  div {
    display: inline;
  }
</style>
