<template><div
  v-if="entry"
><div
  v-if="entry.type === 'text'"
><div
  v-if="Array.isArray(entry.value)"
><wiki-object
  v-for="(item, index) in entry.value"
  :key="index"
  :entry="item"
/></div><div
  v-else-if="/img;(.+)/.test(entry.value)"
><figure
  class="image"
><img
  :src="`/img/${/img;(.+)/.exec(entry.value)[1]}`"
></figure></div><div
  v-else
>{{ entry.value }}</div>
</div><div
  v-if="entry.type === 'bold'"
  class="has-text-weight-bold"
><div
  v-if="Array.isArray(entry.value)"
><wiki-object
  v-for="(item, index) in entry.value"
  :key="index"
  :entry="item"
/></div><div
  v-else
><wiki-object
  :entry="entry.value"
/></div></div><div
  v-if="entry.type === 'italics'"
  class="is-italic"
><div
  v-if="Array.isArray(entry.value)"
><wiki-object
  v-for="(item, index) in entry.value"
  :key="index"
  :entry="item"
/></div><div
  v-else
><wiki-object
  :entry="entry.value"
/></div></div><div
  v-if="entry.type === 'signature'"
  class="has-text-weight-semibold is-3 has-text-right"
><div
  v-if="Array.isArray(entry.value)"
><wiki-object
  v-for="(item, index) in entry.value"
  :key="index"
  :entry="item"
/></div><div
  v-else
><br>- <wiki-object
  :entry="entry.value"
/></div></div><div
  v-if="entry.type === 'linebreak'"
><br></div><div
  v-if="entry.type === 'entry'"
><wiki-object
  v-for="(item, index) in entry.value"
  :key="index"
  :entry="item"
/></div><div
  v-if="entry.type === 'link'"
><nuxt-link
  :to="entry.link"
>{{ entry.value }}</nuxt-link></div><div
  v-if="entry.type === 'list'"
><div
  v-for="(item, index) in entry.value"
  :key="index"
><br>• <div
  v-if="Array.isArray(item)"
><wiki-object
  v-for="(itemEntry, indexEntry) in item"
  :key="indexEntry"
  :entry="itemEntry"
/></div><wiki-object
  v-else
  :entry="item"
/></div></div></div></template>

<script>
export default {
  name: 'WikiObject',
  props: {
    entry: {
      type: Object,
      default: () => null,
    }
  }
};
</script>

<style scoped>
  div {
    display: inline;
  }
  .has-text-right {
    display: block;
  }
</style>
