<template>
  <div class="columns is-multiline">
    <div
      v-for="card in cards"
      :key="card.name"
      class="column is-3"
    >
      <PersonCard
        :name="card.name"
        :image="card.image"
        :image-book="card.imageBook"
        :image-link="card.imageLink"
        :image-swap="card.imageSwap || ''"
        :tagline="card.tagline"
        :desc="card.desc"
        :floor-section="Math.floor((floor - 1) / 3)"
        :fire="!!card.important"
        :sections="sections"
      />
    </div>
  </div>
</template>

<script>
import PersonCard from './person_card';

export default {
  name: 'CardCollection',
  components: { PersonCard },
  props: {
    cards: {
      required: true,
      type: Array,
    },
    floor: {
      type: Number,
      default: 1,
    },
    sections: {
      required: true,
      type: Array,
    }
  },
};
</script>

<style scoped>

</style>
