<template>
  <div class="box">
    <div class="columns">
      <div class="column">
        <p class="title is-5">
          {{ width >= 480 ? name : name.replace('-', '') }}
        </p>
        <i v-if="!!tagline">
          '{{ tagline }}'
        </i>
      </div>
      <div
        v-if="!!image"
        class="column is-6"
      >
        <BeastHeadshot :beast="image" :book="imageBook" :frame="sections[floorSection].color" :fire="fire" />
      </div>
      <div
        v-else-if="!!imageLink"
        class="column is-6"
      >
        <Headshot
          :src="imageLink"
          :swap="imageSwap"
          :frame="sections[floorSection].color"
          :fire="fire"
        />
      </div>
    </div>

    <p>
      {{ desc }}
    </p>
  </div>
</template>

<script>
import BeastHeadshot from '../image/beast_headshot';
import Headshot from '../image/headshot';

export default {
  name: 'PersonCard',
  components: { Headshot, BeastHeadshot },
  props: {
    name: {
      required: true,
      type: String,
    },
    tagline: {
      default: '',
      type: String,
    },
    image: {
      default: '',
      type: String,
    },
    imageBook: {
      default: 'MM',
      type: String,
    },
    imageLink: {
      default: '',
      type: String,
    },
    imageSwap: {
      default: '',
      type: String,
    },
    desc: {
      required: true,
      type: String,
    },
    floorSection: {
      type: Number,
      default: 0,
    },
    fire: {
      type: Boolean,
      default: false,
    },
    sections: {
      required: true,
      type: Array,
    }
  },
  data () {
    return {
      width: 1080,
    };
  },
  mounted () {
    this.$nextTick(() => {
      this.width = window.innerWidth;
      window.addEventListener('resize', () => {
        this.width = window.innerWidth;
      });
    });
  },
};
</script>

<style scoped>
  .title {
    hyphens: auto;
  }
</style>
