<template>
  <div
    v-if="!!recap.recap"
    class="timeline-item"
  >
    <div class="timeline-marker is-primary is-icon">
      <div class="has-text-dark">
        {{ recap.date.adventuringDay }}
      </div>
    </div>
    <div class="timeline-content">
      <p class="heading">
        {{ date }} <br> {{ recap.title }}
      </p>
      <div class="">
        {{ recap.recap }}
      </div>
    </div>
  </div>
  <header
    v-else-if="!!recap.level"
    class="timeline-header"
  >
    <span class="tag is-danger">Level Up!</span>
  </header>
</template>

<script>
export default {
  name: 'Timeline',
  props: {
    recap: {
      required: true,
      type: Object,
    },
    calendar: {
      required: true,
      type: Array,
    },
  },
  computed: {
    date () {
      return `${this.recap.date.day} ${this.calendar[this.recap.date.month - 1]}`;
    }
  }
};
</script>

<style scoped>

</style>
