<template>
  <section class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <nuxt-link to="/" class="title">
            The Floating Cup
          </nuxt-link>
        </h1>
        <h2 class="subtitle">
          {{ tagline }}
        </h2>
      </div>
    </div>

    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li
              v-for="link in links"
              :key="link.link"
              :class="link.link === $nuxt.$route.path ? 'is-active' : ''"
            >
              <nuxt-link
                :to="link.link"
              >
                {{ link.text }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      links: {
        '/': {
          link: '/',
          text: 'Current Status',
          tagline: 'what\'s happening',
        },
        '/undermountain': {
          link: '/undermountain',
          text: 'The Undermountain',
          tagline: 'looking down',
        },
        '/arcs': {
          link: '/arcs',
          text: 'The Story so Far',
          tagline: 'keeping up with the group',
        },
        '/wiki': {
          link: '/wiki',
          text: 'Tabula Inscripta',
          tagline: 'delicious flavor text',
        },
        '/faces': {
          link: '/faces',
          text: 'Who\'s Who',
          tagline: 'who are you again?',
        },
      },
    };
  },
  computed: {
    tagline () {
      return (this.links[`/${this.$route.path.split('/')[1]}`] || { tagline: '' }).tagline;
    }
  }
};
</script>

<style scoped>

</style>
