<template>
  <!--  <div class="box">-->
  <div :style="`background-color: ${face.color};`" class="box">
    <p class="title is-4">
      {{ face.name }}
    </p>
    <p class="subtitle is-6">
      {{ sanitize(face.job) }}
    </p>
    <p><span><b>Age:</b> {{ sanitize(face.age) }}</span>, <b>Height:</b> {{ sanitize(face.height) }}</p>
    <p><b>Race:</b> {{ hide(face.gender) }} {{ sanitize(face.race) }}</p>
    <p><em>{{ face.desc }}</em></p>
    <br>
    <p>{{ face.bio }}</p>
  </div>
</template>

<script>
export default {
  name: 'Faces',
  props: {
    face: {
      required: true,
      type: Object,
    }
  },
  methods: {
    sanitize (text) {
      return text || '???';
    },
    hide (text) {
      return this.sanitize(text) === '???' ? '' : text;
    },
  }
};
</script>

<style scoped>

</style>
