<template>
  <div class="field has-addons">
    <p class="control is-expanded">
      <label>
        <input
          v-model="value"
          @input="() => $emit('input', value)"
          class="input"
          type="text"
          placeholder="Search"
        >
      </label>
    </p>
    <p
      v-for="button in sorts"
      :key="button[0]"
      class="control"
    >
      <a
        :class="`button is-active level-item ${button[1] === active ? 'is-primary' : ''}`"
        @click="update(button[1])"
      >
        <span>{{ button[0] }}</span>
        <span
          v-if="active !== button[1]"
          class="icon is-small"
        >
          <i class="fas fa-minus" />
        </span>
        <span
          v-else
          class="icon is-small"
        >
          <i :class="dirUp ? 'fas fa-sort-up' : 'fas fa-sort-down'" />
        </span>
      </a>
    </p>
  </div>
</template>

<script>
export default {
  name: 'SortBox',
  data () {
    return {
      active: 'name',
      dirUp: false,
      sorts: [
        ['Name', 'name'],
        ['Occupation', 'job'],
        ['Faction', 'fac'],
        ['Age', 'age'],
        ['Height', 'height'],
        ['Race', 'race'],
      ],
      value: '',
    };
  },
  methods: {
    update (button) {
      if (this.active === button) {
        this.dirUp = !this.dirUp;
      } else {
        this.active = button;
        this.dirUp = false;
      }

      this.$emit('update', {
        active: this.active,
        dirUp: this.dirUp,
      });
    }
  }
};
</script>

<style scoped>

</style>
