<template>
  <div @click="active = ~active">
    <div
      v-if="!!info.locked"
      class="notification has-background-grey-light"
    >
      <nav class="level">
        <div class="level-left">
          <p class="title is-3">
            {{ info.title }}
          </p>
        </div>
        <div class="level-right">
          <span class="level-item icon fa-2x">
            <i class="fas fa-lock" />
          </span>
        </div>
      </nav>
    </div>
    <div
      v-else-if="active"
      class="notification has-background-grey-lighter"
    >
      <div>
        <nav class="level">
          <div class="level-left">
            <p class="title is-3">
              {{ info.title }}
            </p>
          </div>
          <div class="level-right">
            <span class="level-item icon fa-2x">
              <i class="fas fa-minus-square" />
            </span>
          </div>
        </nav>
        <p>
          {{ info.flavor }}
        </p>
      </div>
      <hr class="has-background-grey">
      <div>
        <p class="title is-4">
          Things of Interest
        </p>
        <CardCollection
          v-if="!!info.cards"
          :cards="info.cards"
          :floor="floor"
          :sections="sections"
        />
      </div>
    </div>
    <div
      v-else
      class="notification has-background-grey-light"
    >
      <nav class="level">
        <div class="level-left">
          <Glitch
            v-if="!!info.glitched"
            :text="info.glitchedTitle"
            classes="title is-3"
          />

          <div v-else>
            <p class="title is-3">
              {{ info.title }}
            </p>
          </div>
        </div>
        <div class="level-right">
          <span class="level-item icon fa-2x">
            <i class="fas fa-plus-square" />
          </span>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import CardCollection from '../interestcard/card_collection';
import Glitch from '../text/glitch';

export default {
  name: 'FloorPlan',
  components: { Glitch, CardCollection },
  props: {
    info: {
      required: true,
      type: Object,
    },
    floor: {
      required: true,
      type: Number,
    },
    sections: {
      required: true,
      type: Array,
    }
  },
  data () {
    return {
      active: false,
    };
  },
};
</script>

<style scoped>

</style>
