<template>
  <div class="notranslate">
    <Header
      style="margin-bottom: 30px"
    />
    <div class="container">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '../components/Header';

export default {
  components: { Header },
};
</script>
