<template>
  <div class="notification">
    <p class="title is-2">
      The Story so Far
    </p>
    <div
      :class="width >= 480 ? 'is-centered' : ''"
      class="timeline"
    >
      <header class="timeline-header">
        <span class="tag is-medium is-primary">
          {{ width >= 480 ? 'Session ' : '' }}Count: {{ arcs.reduce((acc, con) => !!con.recap ? acc + 1 : acc, 0) }}
        </span>
      </header>
      <div v-if="!!arcs[0].level" class="timeline-item" />
      <Timeline
        v-for="recap in arcs"
        :key="recap.title"
        :recap="recap"
        :calendar="calendar"
      />
      <header class="timeline-header">
        <span class="tag is-medium is-primary">
          Start
        </span>
      </header>
    </div>
  </div>
</template>

<script>
import Timeline from '../../components/arcs/timeline';

export default {
  components: { Timeline },
  head () {
    return {
      title: 'The Story so Far',
    };
  },
  data () {
    return {
      width: 1080,
    };
  },
  async asyncData (context) {
    const arcs = await context.app.$get('/arcs');
    const calendar = await context.app.$get('/arcs/calendar');
    return {
      arcs: arcs.data,
      calendar: calendar.data,
    };
  },
  mounted () {
    this.$nextTick(() => {
      this.width = window.innerWidth;
      window.addEventListener('resize', () => {
        this.width = window.innerWidth;
      });
    });
  },
};
</script>

<style scoped>

</style>
