<template>
  <div class="notification">
    <p class="title is-2">
      Current Status
    </p>
    <Factions :regions="regions" />
    <Tavern :tavern="tavern" />
  </div>
</template>

<script>
import Factions from '../components/status/factions';
import Tavern from '../components/status/tavern';

export default {
  components: { Tavern, Factions },
  head () {
    return {
      title: 'The Floating Cup',
    };
  },
  async asyncData (context) {
    const factions = await context.app.$get('/factions');
    const tavern = await context.app.$get('/tavern');
    return {
      regions: factions.data,
      tavern: tavern.data,
    };
  },
};
</script>

<style></style>
