<template>
  <div>
    <div
      v-if="width >= 480"
      class="glitch-padding"
    >
      <p
        v-for="i in [0, 1, 2]"
        :key="i"
        :class="`glitch-css glitch-css-${i} ${classes}`"
      >
        {{ text }}
      </p>
    </div>
    <div
      v-else
      class="glitch-padding"
    >
      <p
        v-for="i in [0, 1, 2]"
        :key="i"
        :class="`glitch-css glitch-css-${i} ${classes}`"
      >
        {{ text.split(':')[0].trim() }}:
      </p>
      <p style="margin-top: 35px" />
      <p
        v-for="i in [0, 1, 2]"
        :key="i"
        :class="`glitch-css glitch-css-${i} ${classes}`"
      >
        {{ text.split(':')[1].trim() }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Glitch',
  props: {
    text: {
      required: true,
      type: String,
    },
    classes: {
      default: '',
      type: String,
    },
  },
  data () {
    return {
      width: 1080,
    };
  },
  mounted () {
    this.$nextTick(() => {
      this.width = window.innerWidth;
      window.addEventListener('resize', () => {
        this.width = window.innerWidth;
      });
    });
  },
};
</script>

<style scoped>
  .glitch-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .glitch-css {
    margin: 0;
    line-height: 0;
    animation: glitch1 2.5s infinite;
  }

  .glitch-css-1 {
    color: #585f6e;
    animation: glitch2 4.0s infinite;
  }

  .glitch-css-2 {
    color: #531515;
    animation: glitch3 8.3s infinite;
  }
  /*Keyframes*/

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skewX(-8.0deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skewX(5.0deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skewX(-5.3deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skewX(12.0deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-1px, -1.5px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-2.5px, -1px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-2.5px, -0.5px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-1px, -3px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(1px, 1.5px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(2.5px, 1px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(2.5px, 0.5px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(1px, 3px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
</style>
