<template>
  <div class="tile is-ancestor spacing">
    <div class="tile is-parent is-vertical spacing">
      <div class="tile is-parent spacing">
        <div class="tile is-child is-2">
          {{ faction }}
        </div>
        <div class="tile is-child">
          <progress
            :class="color"
            :value="value"
            class="progress"
            max="100"
          >
            %
          </progress>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FactionBar',
  props: {
    faction: {
      required: true,
      type: String,
    },
    value: {
      required: true,
      type: Number,
    },
  },
  computed: {
    color () {
      switch (true) {
        case (this.value > 75):
          return 'is-primary';
        case (this.value > 50):
          return 'is-link';
        case (this.value > 25):
          return 'is-warning';
        default:
          return 'is-danger';
      }
    }
  }
};
</script>

<style scoped>
  .spacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
</style>
