<template>
  <div class="notification has-background-grey-lighter">
    <p class="title is-3">
      Faction Reputations
    </p>
    <div
      v-for="region in regions"
      :key="region.region"
      class="box"
      style="border-radius: 15px; padding: 10px; margin-bottom: 10px"
    >
      <p class="title is-4">
        {{ region.region }}
      </p>
      <FactionBar
        v-for="(rep, faction) in region.factions"
        :key="faction"
        :faction="faction"
        :value="rep"
        style="margin-bottom: 10px"
      />
    </div>
  </div>
</template>

<script>
import FactionBar from './faction/faction_bar';

export default {
  name: 'Factions',
  components: { FactionBar },
  props: {
    regions: {
      required: true,
      type: Array,
    },
  },
};
</script>

<style scoped>

</style>
