<template>
  <div class="notification has-background-grey-lighter">
    <p class="title is-3">
      Tavern Status
    </p>
    <div class="columns">
      <div class="column ">
        <div class="box">
          <p class="title is-4">
            Employees
          </p>
          <p
            v-for="employee in tavern.employees"
            :key="employee.name"
          >
            <strong>{{ employee.job }}:</strong> {{ employee.name }}
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <p class="title is-4">
            Additions
          </p>
          <div
            v-for="addition in tavern.additions"
            :key="addition.name"
          >
            <strong>
              {{ addition.name }}
            </strong>
            <p style="margin-bottom: 5px">
              <em>
                Note: {{ addition.note }}
              </em>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <p class="title is-4">
            Prospects
          </p>
          <div
            v-for="prospect in tavern.prospects"
            :key="prospect.name"
          >
            <nav
              :class="prospect.bonus.includes('+') ? 'has-text-success' : prospect.bonus.includes('-') ? 'has-text-danger' : 'has-text-warning'"
              class="level"
            >
              <div class="level-left">
                <strong class="level-item">
                  {{ prospect.info }}
                </strong>
              </div>
              <div class="level-right is-hidden-mobile">
                <span
                  class="level-item"
                >
                  {{ prospect.bonus }}
                </span>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tavern',
  props: {
    tavern: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style scoped>

</style>
