<template>
  <div v-if="toc" class="notification">
    <p class="title is-2">
      Tabula Inscripta
    </p>
    <p class="subtitle is-4">
      A Written Record
    </p>
    <div class="columns">
      <div class="column is-4">
        <Toc :toc="toc" :active="$route.params.entry || 'Foreword'" />
      </div>
      <div class="column">
        <nuxt-child />
      </div>
    </div>
  </div>
</template>

<script>
import Toc from '../../components/wiki/toc/toc';

export default {
  head () {
    return {
      title: 'Tabula Inscripta',
    };
  },
  components: { Toc },
  data () {
    return {
      toc: [],
    };
  },
  async asyncData (context) {
    const toc = await context.app.$get('/wiki/toc');
    return {
      toc: toc.data,
    };
  },
};
</script>

<style scoped>

</style>
