<template>
  <div>
    <div v-if="entry" class="box">
      <nav class="level">
        <div class="level-left">
          <p class="title is-4 level-item">
            {{ entry.title || 'Loading' }}
          </p>
        </div>
        <div class="level-right">
          <breadcrumb :breadcrumb="entry.breadcrumb" />
        </div>
      </nav>
      <div>
        <wiki-array :entries="entry.content" />
      </div>
      <br>
      <pagination :pagination="entry.pagination" />
    </div>
    <div v-else class="box">
      <p class="title is-4">
        404 Not Found
      </p>
      <p class="subtitle is-6">
        Sadly {{ $route.params.entry.replace(/_/g, ' ') }} isn't an entry. You should try a real one next time.
      </p>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '../../../components/wiki/breadcrumb';
import Pagination from '../../../components/wiki/pagination';
import WikiArray from '../../../components/wiki/wiki_array';

export default {
  components: {
    WikiArray, Pagination, Breadcrumb
  },
  data () {
    return {
      entry: null,
    };
  },
  async asyncData (context) {
    const entry = await context.app.$get('/wiki/entry', { entry: context.params.entry ? context.params.entry : '' });
    return {
      entry: entry.data,
    };
  },
  mounted () {
    window.addEventListener('keydown', (e) => {
      switch (e.keyCode) {
        case 37:
          if (this.entry.pagination.prev) {
            this.$router.push(this.entry.pagination.prev.link);
          }
          break;
        case 39:
          if (this.entry.pagination.next) {
            this.$router.push(this.entry.pagination.next.link);
          }
          break;
        default:
      }
    });
  },
  destroyed () {
    window.removeEventListener('keydown', this);
  }
};
</script>

<style scoped>

</style>
